<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>My Applications</title>
</head>

<body>

<h2>My Applications</h2>

<table border="1">

    <tr>
        <th>Job Title</th>
        <th>Company</th>
        <th>Status</th>
        <th>Applied Date</th>
    </tr>

    <tr th:each="application : ${applications}">

        <td th:text="${application.job.title}"></td>

        <td th:text="${application.job.company.name}"></td>

        <td th:text="${application.status}"></td>

        <td th:text="${application.appliedDate}"></td>

    </tr>

</table>

<br>

<a th:href="@{/jobseeker/jobs}">
    Back to Jobs
</a>

</body>
</html>