<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Recruiter Dashboard</title>
</head>

<body>

<h2>Recruiter Dashboard</h2>

<h3 th:text="'Welcome, ' + ${name}"></h3>

<br>

<a th:href="@{/recruiter/company/create}">
    <button>Create Company</button>
</a>

<br><br>

<a th:href="@{/recruiter/company/view}">
    <button>View Company</button>
</a>

<br><br>

<a th:href="@{/recruiter/job/create}">
    <button>Create Job</button>
</a>

<br><br>

<a th:href="@{/recruiter/job/view}">
    <button>View Jobs</button>
</a>

<br><br>

<form th:action="@{/logout}" method="post">
    <button type="submit">Logout</button>
</form>

</body>
</html>