<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>My Jobs</title>
</head>

<body>

<h2>My Company Jobs</h2>

<table border="1">

    <tr>
        <th>Title</th>
        <th>Location</th>
        <th>Salary</th>
        <th>Experience</th>
        <th>Actions</th>
    </tr>

    <tr th:each="job : ${jobs}">

        <td th:text="${job.title}"></td>

        <td th:text="${job.location}"></td>

        <td th:text="${job.salary}"></td>

        <td th:text="${job.experienceRequired}"></td>

        <td>

            <a th:href="@{/recruiter/job/view/{id}(id=${job.id})}">
                View
            </a>

            |

            <a th:href="@{/recruiter/job/edit/{id}(id=${job.id})}">
                Edit
            </a>

            |

            <a th:href="@{/recruiter/job/delete/{id}(id=${job.id})}">
                Delete
            </a>

        </td>

    </tr>

</table>

</body>
</html>